.navigation-link-sign {
  text-decoration: none;
  cursor: pointer;
  transition: opacity .2s ease-in;
}

.navigation-link-sign_place_header {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.navigation-link-sign_place_sign {
  margin-left: 6px;
}

.navigation-link-sign_place_not-found {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.navigation-link-sign_type_link:hover {
  opacity: .7;
}

.navigation-link-sign_type_button {
  display: block;
  background-color: #3456F3;
  border: none;
  border-radius: 3px;
  padding: 8px 20px;
}

.navigation-link-sign_type_button:hover {
  opacity: .8;
}

.navigation-link-sign_color_black {
  color: #000;
}

.navigation-link-sign_color_white {
  color: #fff;
}

.navigation-link-sign_color_blue {
  color: #3456F3;
}

@media screen and (max-width: 414px) {
  .navigation-link-sign_place_header {
    font-size: 10px;
  }

  .navigation-link-sign_type_button {
    padding: 5px 12px;
  }

  .navigation-link-sign_place_not-found {
    font-size: 12px;
    line-height: 15px;
  }
}