.profile {
  padding-top: 70px;
  background-color: #FFFFFF;
}

.profile-form {
  padding-top: 123px;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;
}

.profile-form {
  max-width: 410px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.profile-form__fieldest {
  border: none;
  margin: 0;
  padding: 0;
}

.profile-form__input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 17px 0; */
  margin: 0;
}

.profile-form__input-wrapper:first-of-type {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 17px;
}

.profile-form__input-wrapper:last-of-type {
  padding-top: 17px;
}

.profile-form__input {
  max-height: 14px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  text-align: end;
}


.profile-form__input:focus {
  outline: 0;
}

.profile-form__input:disabled {
  color: #000;
}
.profile-form__input-label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.profile-form__edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 220px;
}

.profile-form__submit {
  margin-top: 189px;
}

.profile-form__error {
  display: none;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #EE3465;
}

.profile-form__error_active {
  display: block;
}

/*?  BUTTONS */

.profile-form__button {
  border: none;
  background-color: inherit;
  font-size: 13px;
  line-height: 16px;
  padding: 0;
  cursor: pointer;
}

.profile-form__button_type_edit{
  color: #000000;
  font-weight: 400;
}
.profile-form__button_type_logout{
  color: #EE3465;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 236px;
  }

  .profile-form {
    padding-top: 96px;
  }

  .profile-form__edit {
    margin-top: 210px;
  }
}

@media screen and (max-width: 400px) {
  .profile {
    padding-top: 70px;
    padding-inline: 30px;
  }

  .profile-form__edit {
    margin-top: 379px;
  }

  .profile-form__button {
    font-size: 12px;
    line-height: 15px;
  }
}