.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 73px;
  background-color: inherit;
  height: 100%;
  width: 100%;
  max-height: 483px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;
}

.profile-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 123px;
  max-width: 413px;
  row-gap: 20px;
}

.profile-form__fieldest {
  border: none;
  margin: 0;
  padding: 0;
}

.profile-form__input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.profile-form__input-wrapper:first-of-type {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 17px;
}

.profile-form__input-wrapper:last-of-type {
  padding-top: 17px;
}

.profile-form__input {
  max-height: 14px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  text-align: end;
  /* max-width: 413px; */
}

.profile-form__input:focus {
  outline: 0;
}

.profile-form__input:disabled {
  color: #000;
}
.profile-form__input-label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.profile-form__edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.profile-form__error {
  display: none;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #EE3465;
  z-index: 4;
}

.profile-form__error_active {
  display: block;
}

.profile-form__button {
  display: inline;
  border: none;
  background-color: inherit;
  font-size: 13px;
  line-height: 16px;
  padding: 0;
  cursor: pointer;
  transition: opacity .2s ease-in;
  color: #000000;
  font-weight: 400;
}

.profile-form__button:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 236px;
    max-height: 445px;
  }

  .profile-form {
    padding-top: 96px;
  }

}

@media screen and (max-width: 414px) {
  .profile {
    padding-top: 70px;
    max-height: 597px;
  }

  .profile-form {
    padding-top: 80px;
  }

  .profile-form__fieldest {
    padding-inline: 30px;
  }

  .profile-form__button {
    font-size: 12px;
    line-height: 15px;
  }
}