.navigation-link{
  text-decoration: none;
  color: #000000;
}

/* .navigation-link_type_bold {
  font-weight: 500;
}

.navigation-link_type_normal {
  font-weight: 400;
} */

.navigation-link_place_header {
  font-size: 13px;
  line-height: 18px;
}

.navigation-link_place_menu {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}