.navigation-link{
  text-decoration: none;
  color: #000000;
}

.navigation-link_menu-active {
  border-bottom: 2px solid #000000;
  padding-bottom: 4px;
}

.navigation-link_header-active {
  font-weight: 500;
  cursor: default;
}

.navigation-link_place_header {
  font-size: 13px;
  line-height: 18px;
}

.navigation-link_place_menu {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}