.movie-card-list {
  padding: 70px 70px 80px;
  background-color: #FAFAFA;
}

.movie-card-list__container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 37px 24px;
}

@media screen and (max-width: 907px) {
  /* .movie-card-list {
    padding-left: 30px;
    padding-right: 30px;
  } */

  .movie-card-list__container {
    gap: 30px;
    /* justify-content: none; */
    /* grid-template-columns: repeat(auto-fit, minmax(min-content, 339px)); */
  }
}

@media screen and (max-width: 907px) {
  .movie-card-list {
    padding-left: 30px;
    padding-right: 30px;
  }

  .movie-card-list__container {
    gap: 30px;
    /* justify-content: none; */
    /* grid-template-columns: repeat(auto-fit, minmax(min-content, 300px)); */
  }
}

@media screen and (max-width: 400px) {
  .movie-card-list {
    padding-left: 10px;
    padding-right: 10px;
  }

  
}
