.root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: #FAFAFA;
}

.root__foter {
  margin-top: auto;
}