.login {
  display: flex;
  flex-direction: column;
  min-width: 396px;
  margin: 0 auto;
  padding-top: 70px;
  gap: 40px;
}

.sign-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 100%;
  min-height: 373px;
}

.sign-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.position {
  display: block;
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .login {
    padding-top: 232px;
  }
}


@media screen and (max-width: 400px) {
  .login {
    padding-top: 56px;
    min-width: 260px;
  }

  .button {
    font-size: 12px;
    line-height: 15px;
  }

  .sign-form__span {
    font-size: 12px;
    line-height: 15px;
  }
}