.login {
  display: flex;
  flex-direction: column;
  min-width: 396px;
  margin: 0 auto;
  padding-top: 70px;
  gap: 40px;
}

.sign-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 100%;
  min-height: 373px;
}

.sign-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .sign-form__control-wrapper {
  display: flex;
  flex-direction: column;
} */

/* .sign-form__span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  align-self: center;
  margin-top: 17px; 
} */

/* .sign-form__link {
  text-decoration: none;
  color: #3456F3;
  margin-left: 6px;
} */

/*? input */
/* .form-input {
  display: flex;
  flex-direction: column;
}

.form-input__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  margin-bottom: 10px;
}

.form-input__input {
  background-color: #F4F4F4;
  border: none;
  border-radius: 8px;
  min-height: 45px;
  font-size: 13px;
  line-height: 16px;
}

.form-input__input:focus {
  outline: 0;
}

.form-input__input_type_bold {
  font-weight: 500;
}
.form-input__input_type_normal {
  font-weight: 400;
}

.form-input__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  margin-top: 10px;
} */

.position {
  display: block;
  /* justify-self: ; */
  align-self: flex-end;
  /* align-content: end; */
}

@media screen and (max-width: 768px) {
  .login {
    padding-top: 232px;
  }
}


@media screen and (max-width: 400px) {
  .login {
    padding-top: 56px;
    min-width: 260px;
  }

  .button {
    font-size: 12px;
    line-height: 15px;
  }

  .sign-form__span {
    font-size: 12px;
    line-height: 15px;
  }
}